<footer>
  <svg
    width="1440"
    height="4"
    viewBox="0 0 1440 4"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      y1="2"
      x2="1440"
      y2="2"
      stroke="black"
      stroke-width="4"
      stroke-dasharray="4 8"
    />
  </svg>

  <svg
    width="1440"
    height="20"
    viewBox="0 0 1440 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      y1="10"
      x2="1440"
      y2="10"
      stroke="black"
      stroke-width="20"
      stroke-dasharray="2 2"
    />
  </svg>
  <div class="contenedor">
    <div class="col1">
      <p class="text">¿ERES UN PROFESIONAL DEL TATUAJE O DESEAS TATUARTE?</p>
      <h4>Barcelona 2021</h4>
      <h4>@TAGORA</h4>
    </div>
    <div class="col2">
      <a href=""
        >Neswleter
        <svg
          width="15"
          height="8"
          viewBox="0 0 15 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.83087 1L7.83087 7L13.8309 1"
            stroke="#FFF8E9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <a href=""
        >Community
        <svg
          width="15"
          height="8"
          viewBox="0 0 15 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.83087 1L7.83087 7L13.8309 1"
            stroke="#FFF8E9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <a href=""
        >About us
        <svg
          width="15"
          height="8"
          viewBox="0 0 15 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.83087 1L7.83087 7L13.8309 1"
            stroke="#FFF8E9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <a href=""
        >Politices
        <svg
          width="15"
          height="8"
          viewBox="0 0 15 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.83087 1L7.83087 7L13.8309 1"
            stroke="#FFF8E9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="col3">
      <svg
        width="374"
        height="41"
        viewBox="0 0 374 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="0.666687" width="370" height="2" rx="1" fill="#FFF8E9" />
        <rect
          x="374"
          width="15"
          height="6.66666"
          rx="3.33333"
          transform="rotate(90 374 0)"
          fill="#FFF8E9"
        />
        <rect
          x="277.333"
          width="15"
          height="6.66666"
          rx="3.33333"
          transform="rotate(90 277.333 0)"
          fill="#FFF8E9"
        />
        <rect
          x="177.333"
          width="15"
          height="6.66666"
          rx="3.33333"
          transform="rotate(90 177.333 0)"
          fill="#FFF8E9"
        />
        <rect
          x="84"
          width="15"
          height="6.66666"
          rx="3.33333"
          transform="rotate(90 84 0)"
          fill="#FFF8E9"
        />
        <path
          d="M24 21L33.5 31L43 21"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M53 21L62.5 31L72 21"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M82 21L91.5 31L101 21"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M111 21L120.5 31L130 21"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M14.6667 12L24.1667 22L33.6667 12"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M43.5667 12L53.0667 22L62.5667 12"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M72.4667 12L81.9667 22L91.4667 12"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M101.367 12L110.867 22L120.367 12"
          stroke="#FFF8E9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <button class="register">Registrate</button>
    </div>
  </div>
</footer>
