header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #fff8e9;
  width: 100vw;
  margin: 0;
  box-shadow: 0px 4px 10px 0px #00000040;
}
.coment {
  font-weight: 300;
  font-size: small;
}
.nav {
  justify-self: center;
}
a {
  text-decoration: none;
  color: red;
}
.titulo {
  justify-self: center;
}
.logo {
  justify-self: center;
}
