header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #fff8e9;
  box-shadow: 5px -5px 25px 0 #222 inset;
}
.coment {
  font-weight: 300;
  font-size: small;
}
.nav {
  justify-self: center;
}
.titulo {
  justify-self: center;
}
.logo {
  justify-self: center;
}
