.shop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-self: center;
  width: 70vw;
  margin: 3em auto;
}
.shop h1 {
  justify-self: center;
  align-items: center;
  line-height: 1.3em;
  grid-column: 1;
  font-size: 4em;
  font-weight: 500;
  font-family: josefinSans;
}
.compra {
  font-weight: bold;
  font-size: 1.2em;
}
.shop img {
  justify-self: center;
  grid-column: 2;
  align-items: center;
  width: 400px;
}
