.contTattoo {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  align-self: center;
}
.co1 img {
  width: 150px;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #00000080;
}

.co2 img {
  box-shadow: 0px 0px 15px 0px #00000080;
  height: 225px;
  width: 225px;
  border-radius: 10px;
}
.co3 img {
  box-shadow: 0px 0px 15px 0px #00000080;
  height: 225px;
  width: 150px;
  border-radius: 10px;
}
.co4 img {
  box-shadow: 0px 0px 15px 0px #00000080;
  height: 225px;
  width: 250px;
  border-radius: 10px;
  margin-left: -2.5em;
}
.co5 img {
  width: 150px;
  height: 225px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #00000080;
}
.co6 {
  grid-column: 2 / span 3;
  grid-row: 2;
  display: grid;
  grid-template-rows: auto;
  margin-top: 1em;
}

.co6 h2 {
  margin-top: -0.3em;
  grid-row: 1;
  font-weight: 700;
  font-size: 4em;
  font-style: normal;
  text-align: left;
}
.muestra {
  font-weight: 700;
  font-size: 30px !important;
}

.co8 {
  grid-column: 4;
  grid-row: 2;
  justify-self: center;
  align-self: end;
  width: 215px;
}
.co8 h2 {
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  text-align: left;
}
.co9 {
  grid-column: 1 / span 3;
  grid-row: 3;
}
.co9 img {
  width: 550px;
  height: 270px;
  box-shadow: 0px 0px 15px 0px #00000080;
}
.co9 h2 {
  font-weight: 200;
  text-align: center;
  font-size: 30px;
  margin-left: -5em;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.co12 {
  grid-column: 3 / span 2;
  grid-row: 3;
}
.co12 img {
  margin-left: 6em;
  width: 400px;
}
