<div class="contC">
  <h1 class="org">ORGANIZA</h1>
  <H2 class="citas">TUS CITAS OPTIMIZANDO TU TRABAJO</H2>
  <div class="cal">
    <h4>CALENDAR</h4>
    <svg
      width="300"
      height="3"
      viewBox="0 0 633 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        y1="1.5"
        x2="633"
        y2="1.5"
        stroke="#F83C3C"
        stroke-width="3"
        stroke-dasharray="5 5"
      />
    </svg>
    <br />
    <button>+ Create</button>
  </div>
  <h2 class="fecha">
    FEBRERO
    <span>2021</span>
  </h2>
  <img src="../../../assets/calendar.jpg" alt="" />
</div>
