.conTitulo {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.col2 {
  width: 40vw;
  justify-self: center;
}
.contButton {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-self: center;
  margin-bottom: 3em;
}
.register {
  padding: 10px;
  background: #f83c3c;
  border-radius: 27px;
}
