<app-header></app-header>

<div class="conTitulo">
  <div class="col1"></div>
  <div class="col2">
    <!-- <h1>La WEB para AMANTES y PROSIONALES del TATTOO</h1> -->
    <img src="../../../assets/valor.png" alt="" />
  </div>
  <div class="col3"></div>
</div>
<div class="contButton">
  <img src="../../../assets/graphics-elements-homepage-03.svg" alt="" />

  <div class="botonRegister">
    <button class="register">REGISTRATE</button>
  </div>
</div>
<app-feed></app-feed>
<app-calendar></app-calendar>
<app-shop></app-shop>
<app-footer></app-footer>
