/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fff8e9;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0;
}
@font-face {
  font-family: josefinSans;
  src: url(assets/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf)
    format("truetype");
}
